{% extends "core/base.html" %}

{% block content %}
    <section>
        <h2>Welcome to the Home Page</h2>
        <p>This is a platform to help you plan and track your budget effectively.</p>

        <!-- Navigation to the new pages -->
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'budget_list' %}">View Budgets</a></li>
                    <li><a href="{% url 'budget_create' %}">Create Budget</a></li>
                    <!-- Check if latest_budget exists, if so use its ID for the expense create URL -->
                    {% if latest_budget %}
                    <li><a href="{% url 'expense_create' budget_id=latest_budget.id %}">Create Expense</a></li>
                    {% else %}
                        <!-- Placeholder link if there's no latest_budget -->
                        <li><a href="#">Create Expense</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- You can add more content, images, links, etc. here -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </section>
    <section>
        {% if latest_budget %}
            <h2>Monthly Overview for {{ latest_budget.name }}</h2>
            <p>Total Amount: {{ latest_budget.total_amount }}</p>
            <h3>Expenses</h3>
            <ul>
            {% for expense in expenses %}
                <li>{{ expense.name }}: {{ expense.amount }}</li>
            {% empty %}
                <li>No expenses recorded for this budget.</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No budget recorded.</p>
        {% endif %}
    </section>
{% endblock %}
