{% extends "core/base.html" %}

{% block content %}
<h2>All Incomes</h2>
{% if incomes %}
    <ul>
        {% for income in incomes %}
            <p>{{ income.source }}: {{ income.amount }}</p>
            <a href="{% url 'edit_income' income.id %}">Edit</a>
            <a href="{% url 'delete_income' income.id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
        {% endfor %}    
    </ul>
{% else %}
    <p>You have not recorded any income yet.</p>
{% endif %}
{% endblock %}
